.sidebar-header {
    color: cornflowerblue;
    font-weight:bold;
    font-size: large;
}

.side-link-text {
    font-weight:normal;
    font-style: italic;
    display: inline-block;
    min-width: 200px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.standard-slide {
    background-image: url('./assets/slide_template/gf_slide.png');
    font-size: 36px;
    padding-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
} 